In [1]:
import pandas as pd 
import json

# Constructing variables
## Monthly change nominal exchange rate

In [28]:
file_path = "../data/IMF.xlsx"  # Update this with your actual file path
df = pd.read_excel(file_path, header=1, engine="openpyxl")
df.columns = df.columns.astype(str)

# Select columns that are NOT four-digit numbers
monthly_cols = [x for x in df.columns if not (x.strip().isdigit() and len(x.strip()) == 4)]

In [29]:
exchange_rates_df = df[df.iloc[:, 1].str.contains('Exchange Rates', na=False)][monthly_cols]

exchange_rates_df = exchange_rates_df.apply(pd.to_numeric, errors='coerce')

# Calculate the month-on-month changes
monthly_change = exchange_rates_df.diff(axis=1)

display(monthly_change)
monthly_change.to_json('../Data/monthly_nominal_exchange_rate_growth.json', orient='records', indent=4)

,Unnamed: 0,Unnamed: 1,Dec 1959,Jan 1960,Feb 1960,Mar 1960,Apr 1960,May 1960,Jun 1960,Jul 1960,...,Mar 1990,Apr 1990,May 1990,Jun 1990,Jul 1990,Aug 1990,Sep 1990,Oct 1990,Nov 1990,Dec 1990
1,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0621,-0.0855,-0.0708,0.0662,-0.1643,-0.2274,-0.0156,-0.1525,-0.1045,0.0659
5,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

## Real Exchange Change

Real Exchange Rate = Nominal Exchange Rate * (US CPI/France CPI)

In [21]:
# Monthly Nominal Rate:
nom_exchange_rates_df = df[df.iloc[:, 1].str.strip().str.lower().str.contains('exchange rates', na=False)].iloc[0:1][monthly_cols]
nom_exchange_rates_df = exchange_rates_df.apply(pd.to_numeric, errors='coerce')
display(nom_exchange_rates_df)

,Unnamed: 0,Unnamed: 1,Dec 1959,Jan 1960,Feb 1960,Mar 1960,Apr 1960,May 1960,Jun 1960,Jul 1960,...,Mar 1990,Apr 1990,May 1990,Jun 1990,Jul 1990,Aug 1990,Sep 1990,Oct 1990,Nov 1990,Dec 1990
1,NaN,NaN,4.93706,4.93706,4.93706,4.93706,4.93706,4.93706,4.93706,4.93706,...,5.7549,5.6694,5.5986,5.6648,5.5005,5.2731,5.2575,5.105,5.0005,5.0664

In [ ]:
# Contructing us cpi/france cpi over that time period
us_cpi_row = df[df.iloc[:, 1].str.contains("Consumer Price Index.*US", na=False, case=False)]
france_cpi_row = df[df.iloc[:, 1].str.contains("Consumer Price Index.*France", na=False, case=False)]

# Keep only monthly data
us_cpi = us_cpi_row[monthly_cols].astype(float)
france_cpi = france_cpi_row[monthly_cols].astype(float)

display(us_cpi)

ValueError: could not convert string to float: 'France'